.footer {
    background: map-get($colors, '$gray');
    color: map-get($colors, '$m-gray');
    padding-top: 73px;
    h6 {
        color: map-get($colors, '$gold');
        font-family: map-get($base, 'base-font-family');
        letter-spacing: 0.048em;
        margin-bottom: 17px;
    }
    .col {
        max-width: 329px;
        width: 100%;
        margin-bottom: 25px;
    }
    .footer-about {
        letter-spacing: 0.025em;
    }
    .footer-contact {
        letter-spacing: 0.050em;
        @include media(">=desktop") {
            padding-left: 68px;
        }
    }
    .address {
        font-style: normal;
        margin-bottom: 20px;
        span {
            display: block;
        }
    }
    .contact-info {
        line-height: 1.429;
        a {
            text-decoration: none;
            &:hover {
                color: map-get($colors, '$gold');
            }
        }
    }
    .form {
        .email-text {
            background: map-get($colors, '$gray');
            width: 100%;
        }
        input[type="submit"] {
            width: 100%;
            color: map-get($colors, '$white');
        }
    }
    .footer-line {
        background: map-get($colors, '$dark-blue');
        padding: 17px 0;
        .container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
        }
    }
    .copyright {
        margin-bottom: 10px;
        @include media(">=tablet") {
            margin-bottom: 0;
        }
    }
    .social {
        li {
            &:not(:last-child) {
                @include media(">=desktop") {
                    margin-right: 8px;
                }
            }
        }
        a {
            border-color: #dedede;
            &:hover {
                border-color: map-get($colors, '$gold');
            }
        }
    }
}
